<mat-toolbar color="primary">
  <span routerLink="/" class="title-logo">NoteToMe</span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a
        mat-button
        routerLink="/create"
        routerLinkActive="mat-warn"
        *ngIf="userIsAuthenticated"
      >
        New POST</a
      >
      <a
        mat-button
        routerLink="/auth/login"
        routerLinkActive="mat-warn"
        *ngIf="!userIsAuthenticated"
        >Login</a
      >
      <a
        mat-button
        routerLink="/auth/signup"
        routerLinkActive="mat-warn"
        *ngIf="!userIsAuthenticated"
        >Sign-UP</a
      >
      <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">
        LOGOUT
      </button>
    </li>
  </ul>
</mat-toolbar>
