<!-- Property Binding -->
<!-- Local reference '#postInput' -->
<!-- <textarea cols="30" rows="6" [value]="newPost" #postInput></textarea> -->
<mat-card>
  <!-- Two Way Binding -->
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        name="title"
        type="text"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title')!.invalid">
        Please enter title</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        PICK IMAGE
      </button>
      <input
        #filePicker
        type="file"
        style="display: none"
        (change)="onImagePicked($event)"
      />
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        placeholder="Body"
        matInput
        cols="30"
        rows="6"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid"
        >Please enter content</mat-error
      >
    </mat-form-field>
    <!-- Event Binding For Property -->
    <button color="primary" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>
