:host {
  margin-top: 1rem;
  display: block;
}

.info-text {
  text-align: center;
  font-weight: bold;
}

.mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
}

.post-image,
img {
  border-radius: 20px;
}

mat-paginator {
  margin-top: 1rem;
}
